<div class="row">
  <div class="12u">
<section id="banner">
  <a href="http://facebook.com/DreametryDoodle">
    <span class="image image-full"><%=image_tag "pic01.jpg"%></span>
    <header>
      <h2>We build trust</h2>
      <span class="byline">and great softwares...</span>
    </header>
  </a>
</section>

</div>
</div>