<div id="footer-wrapper">

  <!-- Footer -->
  <section id="footer" class="container">
    <div class="row">
      <div class="8u">

        <section>
          <header>
            <h2>Our Presence</h2>
          </header>
          <ul class="dates">
            <li>
              <span class="date">June <strong>22</strong></span>
              <h3><a href="http://rubyconfindia.org/2013/">RubyConfIndia 2013</a></h3>
              <p>We are talking on RubyMotion & Bio Ruby</p>
            </li>
            <li>
              <span class="date">March <strong>28</strong></span>
              <h3><a href="http://www.rubymotion.com/conference">RubyMotion Inspect</a></h3>
              <p>We gave a talk at RubyMotion Conference Inspect </p>
            </li>
            <li>
              <span class="date">March <strong>15</strong></span>
              <h3><a href="http://rubyconfindia.org/2012/">RubyConfIndia 2012</a></h3>
              <p>We talked about different mobile frameworks </p>
            </li>


          </ul>
        </section>

      </div>
      <!-- <div class="4u">

        <section>
          <header>
            <h2>What's this all about?</h2>
          </header>
          <a href="http://facebook.com/DreametryDoodle" class="image image-full"><%=image_tag "pic10.jpg"%></a>
          <p>
            This is <a href="http://html5up.net/dopetrope/">Dopetrope</a> a free, fully responsive HTML5 site template by
            <a href="http://n33.co">AJ</a> for <a href="http://html5up.net/">HTML5 UP</a> It's released for free under
            the <a href="http://html5up.net/license/">CCA</a> license so feel free to use it for any personal or commercial project &ndash;
            just don't forget to credit us! <strong>PS:</strong> The awesome placeholder artwork used in this design is courtesy of <a href="http://facebook.com/DreametryDoodle/">Dreametry Doodle</a>.
          </p>
          <footer>
            <a href="#" class="button">Find out more</a>
          </footer>
        </section>

      </div> -->
<!--     </div>
    <div class="row"> -->
<!--       <div class="4u">

        <section>
          <header>
            <h2>Tempus consequat</h2>
          </header>
          <ul class="divided">
            <li><a href="#">Lorem ipsum dolor sit amet sit veroeros</a></li>
            <li><a href="#">Sed et blandit consequat sed tlorem blandit</a></li>
            <li><a href="#">Adipiscing feugiat phasellus sed tempus</a></li>
            <li><a href="#">Hendrerit tortor vitae mattis tempor sapien</a></li>
            <li><a href="#">Sem feugiat sapien id suscipit magna felis nec</a></li>
            <li><a href="#">Elit class aptent taciti sociosqu ad litora</a></li>
          </ul>
        </section>

      </div> -->
<!--       <div class="4u">

        <section>
          <header>
            <h2>Ipsum et phasellus</h2>
          </header>
          <ul class="divided">
            <li><a href="#">Lorem ipsum dolor sit amet sit veroeros</a></li>
            <li><a href="#">Sed et blandit consequat sed tlorem blandit</a></li>
            <li><a href="#">Adipiscing feugiat phasellus sed tempus</a></li>
            <li><a href="#">Hendrerit tortor vitae mattis tempor sapien</a></li>
            <li><a href="#">Sem feugiat sapien id suscipit magna felis nec</a></li>
            <li><a href="#">Elit class aptent taciti sociosqu ad litora</a></li>
          </ul>
        </section>

      </div> -->
      <div class="4u">

        <section>
          <header>
            <h2>Where you can find us?</h2>
          </header>
          <!--<ul class="social">-->
            <!--<li class="facebook"><a href="#" class="icon48 icon48-1">Facebook</a></li>-->
            <!--<li class="twitter"><a href="http://twitter.com/n33co" class="icon48 icon48-2">Twitter</a></li>-->
            <!--<li class="dribbble"><a href="http://dribbble.com/n33" class="icon48 icon48-3">Dribbble</a></li>-->
            <!--<li class="linkedin"><a href="#" class="icon48 icon48-4">LinkedIn</a></li>-->
            <!--<li class="tumblr"><a href="#" class="icon48 icon48-5">Tumblr</a></li>-->
            <!--<li class="googleplus"><a href="#" class="icon48 icon48-6">Google+</a></li>-->
          <!--</ul>-->
          <iframe width="355" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.in/maps?q=south+city+1+gurgaon&amp;ie=UTF8&amp;hq=&amp;hnear=South+City+I,+Sector+40,+Gurgaon,+Haryana&amp;gl=in&amp;num=10&amp;t=m&amp;z=14&amp;ll=28.458338,77.06652&amp;output=embed"></iframe><br /><small><a href="https://maps.google.co.in/maps?q=south+city+1+gurgaon&amp;ie=UTF8&amp;hq=&amp;hnear=South+City+I,+Sector+40,+Gurgaon,+Haryana&amp;gl=in&amp;num=10&amp;t=m&amp;z=14&amp;ll=28.458338,77.06652&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>

          <ul class="contact">
            <li>
              <h3>Address</h3>
              <p>
                The Retreat, South City 1,<br />
                Gurgaon, HR
              </p>
            </li>
            <li>
              <h3>Mail</h3>
              <p><a href="#">support@agile-softwares.com</a></p>
            </li>
            <li>
              <h3>Phone</h3>
              <p>+91(975)8224777</p>
            </li>
          </ul>
        </section>

      </div>
    </div>
    <div class="row">
      <div class="12u">

        <!-- Copyright -->
        <div id="copyright">
          <ul class="links">
            <li>&copy; 2013 Agile Softwares	</li>
          </ul>
        </div>

      </div>
    </div>
  </section>

</div>