<div id="header-wrapper">
  <div class="container">
    <%= render :partial => "shared/menu" %>
    <%= render :partial => "shared/banner" %>
    <%= render :partial => "shared/sections" %>
  </div>
</div>