
<div class="row">
  <div class="12u">

    <!-- Intro -->
    <section id="development">

      <div>
        <div class="row">
          <div class="4u">
            <section class="first">
              <span class="pennant pennant-alt"><span class="icon64 icon64-1"></span></span>
              <header>
                <h2>Web Development</h2>
              </header>
              <p>We make cool web applications using Ruby on Rails, Drupal, Python. We are 100% agile in our development and to have customer delight is our top priority.</p>
            </section>
          </div>
          <div class="4u">
            <section class="middle">
              <span class="pennant"><span class="icon64 icon64-2"></span></span>
              <header>
                <h2>Mobile Development</h2>
              </header>
              <p>We offer you complete suite of mobile products with highest quality with compliance to industry standards. We offer both enterprise and consumer based solutions.</p>
            </section>
          </div>
          <div class="4u">
            <section class="last">
              <span class="pennant pennant-alt2"><span class="icon64 icon64-3"></span></span>
              <header>
                <h2>Trainings</h2>
              </header>
              <p>We provide trainings on Rails, RubyMotion, Rhomobile etc..</p>
            </section>
          </div>
        </div>
      </div>

<!--       <div class="actions">
        <a href="#" class="button button-big">Get Started</a>
        <a href="#" class="button button-alt button-big">Learn More</a>
      </div> -->

    </section>

  </div>
</div>